#### Tech Challenge - Fase 1: An√°lise de Dados de Dengue 2022

#### ü¶ü Projeto Tech Challenge IA para Devs - Sistema de Diagn√≥stico de Dengue com Machine Learning

#### üìã Vis√£o Geral do Projeto

**Objetivo Principal:** Desenvolver um modelo de Machine Learning capaz de auxiliar na triagem e diagn√≥stico de casos suspeitos de dengue, classificando-os como **Confirmado** ou **Descartado** com base em dados cl√≠nicos e epidemiol√≥gicos.

**Contexto:** Um hospital universit√°rio brasileiro precisa acelerar a triagem de pacientes com suspeita de dengue durante per√≠odos de surto, quando o volume de casos aumenta exponencialmente.

## 1. Importa√ß√£o de Bibliotecas

In [1]:
# Manipula√ß√£o e an√°lise de dados
import pandas as pd

## 2. Carregamento dos Dados

Nesta se√ß√£o, carregue o dataset de dengue 2022. Ajuste o caminho do arquivo conforme necess√°rio.

In [2]:
# Carregar dados de dengue 2022
df = pd.read_csv('DENGBR22.csv')

print(f"‚úì Dataset carregado com sucesso!")
print(f"Dimens√µes: {df.shape[0]} linhas e {df.shape[1]} colunas")

C:\Users\legio\AppData\Local\Temp\ipykernel_41924\2717437312.py:2: DtypeWarning: Columns (22,44,45,46,54,101) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DENGBR22.csv')

‚úì Dataset carregado com sucesso!
Dimens√µes: 1393877 linhas e 121 colunas

### 2.1 Visualiza√ß√£o Inicial dos Dados

In [3]:
# Visualizar primeiras linhas
df.head(10)

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,DT_DIGITA,CS_FLXRET,FLXRECEBI,MIGRADO_W
0,2,A90,2022-01-12,202202,2022,12,120020,1941.0,6801099.0,2022-01-06,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-01-17,NaN,NaN,NaN
1,2,A90,2022-08-11,202232,2022,12,120020,1941.0,5336171.0,2022-08-03,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-08-12,NaN,NaN,NaN
2,2,A90,2022-03-25,202212,2022,12,120020,1941.0,2002116.0,2022-03-21,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-03-31,NaN,NaN,NaN
3,2,A90,2022-03-07,202210,2022,12,120020,1941.0,6801099.0,2022-03-04,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-03-23,NaN,NaN,NaN
4,2,A90,2022-01-18,202203,2022,12,120020,1941.0,6801099.0,2022-01-18,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-01-26,NaN,NaN,NaN
5,2,A90,2022-02-21,202208,2022,12,120020,1941.0,6801099.0,2022-02-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,A90,2022-01-21,202203,2022,12,120020,1941.0,5336171.0,2022-01-08,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-01-25,NaN,NaN,NaN
7,2,A90,2022-02-15,202207,2022,12,120020,1941.0,6801099.0,2022-02-14,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-02-18,NaN,NaN,NaN
8,2,A90,2022-10-28,202243,2022,12,120020,1941.0,9966501.0,2022-10-22,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-11-01,NaN,NaN,NaN
9,2,A90,2022-02-17,202207,2022,12,120020,1941.0,115606.0,2022-02-14,...,NaN,NaN,NaN,NaN,2.0,NaN,2022-04-01,NaN,NaN,NaN

In [4]:
# Informa√ß√µes sobre as colunas e tipos de dados
print("=== INFORMA√á√ïES DO DATASET ===\n")
df.info()
print("\n" + "="*50)
print(f"\nNomes das colunas:\n{df.columns.tolist()}")

=== INFORMA√á√ïES DO DATASET ===

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393877 entries, 0 to 1393876
Columns: 121 entries, TP_NOT to MIGRADO_W
dtypes: float64(94), int64(8), object(19)
memory usage: 1.3+ GB

==================================================

Nomes das colunas:
['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI', 'ANO_NASC', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'DT_INVEST', 'ID_OCUPA_N', 'FEBRE', 'MIALGIA', 'CEFALEIA', 'EXANTEMA', 'VOMITO', 'NAUSEA', 'DOR_COSTAS', 'CONJUNTVIT', 'ARTRITE', 'ARTRALGIA', 'PETEQUIA_N', 'LEUCOPENIA', 'LACO', 'DOR_RETRO', 'DIABETES', 'HEMATOLOG', 'HEPATOPAT', 'RENAL', 'HIPERTENSA', 'ACIDO_PEPT', 'AUTO_IMUNE', 'DT_CHIK_S1', 'DT_CHIK_S2', 'DT_PRNT', 'RES_CHIKS1', 'RES_CHIKS2', 'RESUL_PRNT', 'DT_SORO', 'RESUL_SORO', 'DT_NS1', 'RESUL_NS1', 'DT_VIRAL', 'RESUL_VI_N', 'DT_PCR', 'RESUL_PCR_', 'SOROTIPO', 'HISTOPA_N', 'IMUNOH_N', 'HOSPITALIZ', 'DT_INTERNA', 'UF', 'MUNICIPIO', 'TPAUTOCTO', 'COUFINF', 'COPAISINF', 'COMUNINF', 'CLASSI_FIN', 'CRITERIO', 'DOENCA_TRA', 'CLINC_CHIK', 'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'ALRM_HIPOT', 'ALRM_PLAQ', 'ALRM_VOM', 'ALRM_SANG', 'ALRM_HEMAT', 'ALRM_ABDOM', 'ALRM_LETAR', 'ALRM_HEPAT', 'ALRM_LIQ', 'DT_ALRM', 'GRAV_PULSO', 'GRAV_CONV', 'GRAV_ENCH', 'GRAV_INSUF', 'GRAV_TAQUI', 'GRAV_EXTRE', 'GRAV_HIPOT', 'GRAV_HEMAT', 'GRAV_MELEN', 'GRAV_METRO', 'GRAV_SANG', 'GRAV_AST', 'GRAV_MIOC', 'GRAV_CONSC', 'GRAV_ORGAO', 'DT_GRAV', 'MANI_HEMOR', 'EPISTAXE', 'GENGIVO', 'METRO', 'PETEQUIAS', 'HEMATURA', 'SANGRAM', 'LACO_N', 'PLASMATICO', 'EVIDENCIA', 'PLAQ_MENOR', 'CON_FHD', 'COMPLICA', 'TP_SISTEMA', 'NDUPLIC_N', 'DT_DIGITA', 'CS_FLXRET', 'FLXRECEBI', 'MIGRADO_W']

In [5]:
# Estat√≠sticas descritivas das vari√°veis
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
TP_NOT,1393877.0,NaN,NaN,NaN,2.000006,0.002396,2.0,2.0,2.0,2.0,3.0
ID_AGRAVO,1393877,1,A90,1393877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DT_NOTIFIC,1393877,364,2022-04-25,22831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEM_NOT,1393877.0,NaN,NaN,NaN,202218.85215,9.42448,202201.0,202213.0,202217.0,202222.0,202252.0
NU_ANO,1393877.0,NaN,NaN,NaN,2022.0,0.0,2022.0,2022.0,2022.0,2022.0,2022.0
...,...,...,...,...,...,...,...,...,...,...,...
NDUPLIC_N,1439.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
DT_DIGITA,1375836,530,2022-04-26,20065,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CS_FLXRET,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLXRECEBI,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MIGRADO_W,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN